* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.menu {
  z-index: 100;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0px;
  white-space: nowrap;
  flex-wrap: wrap;
  background: #252a40;
}

.menu .left .logo {
  font-size: 1.7rem;
  text-shadow: 1px 1px 3px rgb(62, 80, 182);
}

.menu .right ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .right ul li {
  padding: 0 0.6rem;
  font-size: 1.3rem;
  white-space: nowrap;
  position: relative;
}

.menu .right ul li:hover a {
  text-shadow: 1px 1px 3px rgb(17, 25, 68);
}

.menu .right ul li a {
  color: rgba(256, 256, 256, 1);
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px #446a9c;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.section {
  width: 90%;
  margin: 10px auto;
}

.section .map {
  text-align: center;
  margin-top: 2rem;
}

.section .map img {
  width: 100%;
  max-width: 700px;
}

.section h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
